html {
 overflow: hidden;
 height: 100%;
}

body{
	background-color: #EDEDED;
	height:100%;
	box-sizing: border-box;
}

div[role="main"] {
 /*overflow-y: scroll; */
 height: 100%;
}

#fab{
	background-color: #9CCC65;
	position: fixed;
	right:24px;
	bottom: 24px;
}


.headerbar{
	background-color: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#menuexpand{
	width:50px;
}



/*
All CSS of the Dialog html elemtns
*/


#dialog{
	width:50%;
}

#askButton{
	color:#2980b9;
}

#input-container{
	padding-bottom: 0px;
}

#question-input{
	color: #2980b9;
}


/*
All CSS to do with the html elements on the actual cards
*/

.outer{
	width: 100%; 
	margin-left: auto; 
    margin-right: auto; 
}

.question{
 	display: inline-block;
 	float: left;
 	width: 76%;
 	text-align: center;
}

.count{
	display: inline-block;
	float: right;
	width: 2%;
}

.time{
	display: inline-block;
	float: left;
	width: 13%;
}

.voteIcon{
	display: inline-block;
	float: right;
	width: 5%;
	margin-bottom: -15px;
}

.wild{
	transition: 0.2s ease;
}

.wild:hover{
	color:#9CCC65;
}





.card{
	background-color: #FFFFFF;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 15px;
	transition: 0.4s ease;
}

.card:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.24), 0 3px 6px rgba(0,0,0,0.23);
}







