<ion-view view-title="Example Room 2" style="background-color: #EFEFEF">

    <ion-nav-buttons side="left" ng-show="false">
        <button class="button button-icon button-clear ion-ios-arrow-back">
        </button>
    </ion-nav-buttons>
  <ion-nav-buttons side="right" ng-show="false">
    <button class="button button-icon button-clear ion-ios-compose-outline" ng-click="askQuestion()">
    </button>
  </ion-nav-buttons>
  <ion-content>
        <ion-list can-swipe="true">
          <ion-item ng-repeat="item in questions | orderBy:'-count'" class="item-text-wrap item-icon-right" href="#/tab/joinedRoom">
            <h2>{{item.text}}</h2>
            <ion-option-button class="button-info" ng-click="remove(chat)">
               {{item.count}}
            </ion-option-button>
            <ion-option-button class="button-calm" ng-click="vote(item)">
              Vote
            </ion-option-button>
          </ion-item>
        </ion-list>
      </ion-content>
</ion-view>


