<!doctype html>
<html ng-app="Andrew">
  <head>

    <!-- Meta so that all mobile devices can view this page at scale -->
    <meta name="viewport" content="initial-scale=1">

    <!-- Material CSS Dependencies -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">
    <link rel="stylesheet" href="css/engage.css">

    <!-- Font CSS Dependency -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Angular Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!-- Firebase Dependencies -->
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script type="text/javascript" src="js/engage.js"></script>

    <!-- Moment Dependencies -->
    <script src="js/moment.js"></script>
    <script src="js/angular-moment.js"></script>

    <title>Engage</title>
  </head>

  <md-toolbar layout="row" style="background-color:#2980b9; padding-left:75px;" class="headerbar" md-scroll-shrink>
    <h1  class="md-toolbar-tools" layout-align-gt-sm="center">Engage</h1>
    <md-button class="md-icon-button" aria-label="More">
      <i ng-click="showOptionsDialog($event)" id="menuexpand" class="fa fa-ellipsis-v"></i>
    </md-button>
  </md-toolbar>

  <body ng-controller="QuestionsController">

  <div role="main">
    <md-card class="card" ng-repeat="item in list | orderBy: sorter" ng-if="item.count > moderationConstant.moderationConstant" ng-click="vote(item)">
      <md-card-content>
        <div class="outer"><div class="time" am-time-ago="item.time"></div><div class="question">{{item.text}}</div><div class="count">{{item.count}}</div><div class="voteIcon"><i class="fa fa-arrow-up fa-lg wild"></i></div></div>

      </md-card-content>
    </md-card> 
  </div>  

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>

  </body>
</html>