<md-dialog id="dialog" aria-label="Mango (Fruit)">
  <md-content class="sticky-container">
    <div class="dialog-content">
      <h2 class="md-display-2 optionsDialogHeader">Moderate a Room</h2>
      <md-input-container id="input-container" flex>
        <label>Room Password</label>
        <input type="password" id="roomPassword" ng-model="roomPassword">
      </md-input-container>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="hide()">
     Cancel
    </md-button>
    <md-button ng-click="moderate(roomPassword)" class="md-primary md-hue-1" id="moderateButton">
      Moderate
    </md-button>
  </div>
</md-dialog>