<md-dialog id="dialog" aria-label="Mango (Fruit)">
  <md-content class="sticky-container">
    <div class="dialog-content">
      <md-input-container id="input-container" flex>
        <md-switch ng-model="data.cb5" aria-label="Switch 2" class="md-warn" ng-change="onSortChange(data.cb5)">
          Questions Ordered by most recent
        </md-switch>
        <md-switch ng-model="data.cb3" aria-label="Switch 2" class="md-warn" ng-change="onModChange(data.cb3)">
          Moderation not required
        </md-switch>
      </md-input-container>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="ask()" class="md-primary" id="askButton">
      Done
    </md-button>
  </div>
</md-dialog>